<div id="movies-index">
  <h1>Movies</h1>

  <% @movies.each do |movie| %>
    <div class="card">
      <%= link_to movie do %>
      <div class="card-img-top">
        <%= image_tag movie.poster.url(:medium)%>
      </div>
      <% end %>
      <div class="card-body">
        <%= link_to movie do %>
          <h5 class="card-title"><%= movie.title.titlecase %></h5>
        <% end %>
          <h6 class="card-subtitle mb-2 text-muted"><%= movie.director %></h6>

          <div id="star-<%= movie.id %>"></div>
          <%= javascript_tag do %>
            var id = <%= movie.id.to_json.html_safe %>
            var rate = <%= movie.reviews.average(:rating).to_json.html_safe %>
            var staron = <%= image_path('star-on.png').to_json.html_safe %>
            var staroff = <%= image_path('star-off.png').to_json.html_safe %>

            $('#star-'+id).raty({
            readOnly:  true,
            start:     rate,
            half:  true,
            starOn:    staron,
            starOff:   staroff
            });
          <% end %>
      </div>
    </div>
  <% end %>
</div>
