<div id="movie-show">
  <div class="movie-overflow">
    <div class="movie">
      <div>
        <%= image_tag @movie.poster.url(:medium) %>
      </div>
      <% if current_user && current_user.is_admin? %>
        <div class="links">
          <%= link_to 'Edit', edit_movie_path(@movie) %> |
          <%= link_to 'Delete', @movie, method: :delete, data: {confirm: 'Are you sure?'}%> |
          <%= link_to 'Back', movies_path %>
        </div>
      <% end %>
    </div>

    <div class="description">
      <h1><%= @movie.title.titlecase %></h1>

      <h1 class="number">
        <% unless @movie.reviews.count == 0 %>
          <%= @movie.reviews.average(:rating).round(2)%>/10
        <% end %>

        (<%= pluralize(@movie.reviews.count, "vote") %>)
      </h1>

      <p>
        <%= @movie.director.titlecase %>
        <br>
        <%= @movie.length %>
      </p>

      <p>
        <%= @movie.description %>
      </p>
    </div>
  </div>

  <div class = "reviews">
    <%= render 'reviews/form' %>

    <div>
      <%= render :partial => @movie.reviews.where.not(user: current_user) %>
    </div>
  </div>

  <div id="prev_movie"><%= link_to controller: "movies", action: "prev", id: @movie do %><i class="fa fa-angle-left"></i><% end %></div>
  <div id="next_movie"><%= link_to controller: "movies", action: "next", id: @movie do %><i class="fa fa-angle-right"></i><% end %></div>
</div>
