<div id="movie-show">
  <div class="movie">
    <div>
      <%= image_tag @movie.poster.url(:medium) %>
    </div>
  </div>

  <div class="description">
    <h1><%= @movie.title.titlecase %>
    <span class="number"><%= @movie.reviews.average(:rating)%>/10 (<%= @movie.reviews.count %> votes)</span></h1>

    <p>
      <%= @movie.director.titlecase %>
      <br>
      <%= @movie.length %>
    </p>

    <p>
      <%= @movie.description %>
    </p>

    <div class="links">
      <% if current_user && current_user.is_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie) %> |
      <% end %>
      <%= link_to 'Back', movies_path %>
    </div>
  </div>

  <div class = "reviews">
    <%= render 'reviews/form' %>

    <div>
      <%= render :partial => @movie.reviews.where.not(user: current_user) %>
    </div>
  </div>

  <div id="prev_movie"><%= link_to controller: "movies", action: "prev", id: @movie do %><i class="fa fa-angle-left"></i><% end %></div>
  <div id="next_movie"><%= link_to controller: "movies", action: "next", id: @movie do %><i class="fa fa-angle-right"></i><% end %></div>
</div>
