<%= form_for([@movie, @review]) do |f| %>
  <div class="field">
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if user_signed_in? && current_user.review %>
    <%= link_to('Delete', movie_review_path([@movie, current_user.review]), method: :delete ) %>
  <% end %>
<% end %>
