<div class="review">
  <p><%= review.user.email %>:</p>
  <div class="rating"><span id="review-star-<%= review.id %>"></span></div>
  <div class="comment">
    <p><%= review.comment %></p>
  </div>
</div>

<%= javascript_tag do %>
  var id = <%= review.id.to_json.html_safe %>
  var rate = <%= review.rating.to_json.html_safe %>
  var staron = <%= image_path('star-on.png').to_json.html_safe %>
  var staroff = <%= image_path('star-off.png').to_json.html_safe %>

  $('#review-star-'+id).raty({
  readOnly:  true,
  start:     rate,
  starOn:    staron,
  starOff:   staroff
  });
<% end %>
